@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

/* Welcome, {this.state.loggedInUser.username} */
* {
  font-family: 'Poppins';
  font-weight: 500;
}

/* img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.App {
  font-family: 'Poppins';
  text-align: center;
  /* background-color: #09d3ac; */
  background-color: #dbefe1;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

a {
  color: #1d617a;
  font-weight: 700;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: #1d617a;
}
.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #09d3ac;
}

nav {
  width: 100vw;
  justify-content: center;
  align-items: center;
}



.mainnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: #1d617a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.bold {
  color: #dbefe1;
  font-weight: 700;
  font-size: 80px;
}

footer {
  padding: 25px;
}
.sidebar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.action {
  background-color: #1d617a;
  color: white;
  min-width: 300px;
  padding: 10px 20px;
  border-radius: 12px;
}

.actioncard {
  color: #1d617a;
  text-align: left;
  margin-bottom: 10px;
}

.darkblue {
  color: #1d617a;
}

main {
  min-height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61c2a2;
}


.imageCard {
  height: 400px;
}

.card {
  color: #1d617a;
}

.titleName {
  text-align: left;
  margin-bottom: 50px;
}

.dostedtitle {
  color: #1d617a;
}

.firsty {
  font-size: 50px;
  font-weight: 700;
  color: #1d617a;
}


.flexcol {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 50vh;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid black;
  justify-self: flex-start;
  padding: 20px;
}

.half {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.halfrow {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcolfull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.submitbtn {
  justify-self: flex-end;
  align-self: flex-end;
}
.suggest {
    margin: 10px;  
    background: #bed9d1;
    border: 2px solid #1d617a;
    border-radius: 16px;
}

.signup-login {
  display: flex;
  flex-direction: column;
  background-color: #1d617a;
  padding: 40px 50px;
  color: #bed9d1;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-login input {
  border-radius: 6px;
  padding: 5px;
}


.signup-login  div {
  margin-bottom: 20px;
}

.editform {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  min-height: 500px;
  text-align: left;
}

.editform a {
  align-self: left;
  align-self: flex-end;
  justify-self: flex-end;
}

.bio {
  height: 200px;
  min-width: 300px;
}



.icons {
  padding: 0px 5px;
}

.thumb {
  height: 240px;
  width: auto;
  justify-self: center;
  align-self: center;
}

.max-width {
  min-width: 300px;
  max-width: 800px;
  width: 100%;
}

.fleximg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.flexy {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.red {
  color: red;
}

.icons {
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 25px;
}

.map {
  height: 600px;
  width: 100vw;
  margin-top: 58px;
}

.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 60px;
  width: 60px;
  background-color: #f7f7f7;
  color: green;
  border: 2px solid black;
  border-radius: 50%;
}
.star {
  color: yellow;
  font-size: 40px;
}

button {
  color: #61c2a2;
  font-weight: 500;
  font-size: 20px;
  border-radius: 6px;
  margin: 0px 10px;
  padding: 5px 10px;
}

button:hover {
  color: #1d617a;
}

.streak {
  color: black;
  margin-right: -25px;
  z-index: 5;
}



.delete {
  color: red;
}
